mongoUrl=mongodb://<username>:<password>@0.0.0.0:27019/cabs?authSource=admin
redisHost=0.0.0.0
redisPort=6381
whatsappVerifyToken=<TOKEN>
whatsappPhoneId=<PHONE_ID>
whatsappToken=<WHATSAPP_TOKEN>
telegramBotToken=<TELEGRAM_BOT_TOKEN>
TTL=15
costBase=30
baseDistance=2
costDriverConvenience=10
costPerKm=15
RAZORPAY_KEY_ID=<RAZORPAY_KEY_ID>
RAZORPAY_KEY_SECRET=<RAZORPAY_KEY_SECRET>